/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Empty.flprj/ */

:root
{
	--FontFamily: Arial, Avenir, Myriad;
	--LogoImage: url('../Images/PhotoWizardLogo.jpeg');
	--Dark: #094074;
	--Lightest: #ffcd85;
	--Primary: #094074;
}

