/*<meta />*/

body
{
	font-family: var(--FontFamily);
	background-color: var(--Lightest);
}

h1
{
	font-weight: bold;
	background-color: #a60a20;
	font-size: 26pt;
	color: #feaa2f;
}

h2
{
	font-weight: bold;
	font-size: 20pt;
	margin-top: 10pt;
	margin-bottom: 6.0pt;
	font-family: Tahoma;
	color: #a60a20;
}

h3
{
	font-weight: bold;
	font-size: 18pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	color: #860012;
}

h4
{
	font-size: 14pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	color: #5d000d;
}

h5
{
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
	font-family: Tahoma;
	color: #5d000d;
	margin-top: 6pt;
	margin-bottom: 6pt;
}

h6
{
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	color: #5d000d;
}

p
{
	margin-top: 6.00pt;
	margin-bottom: 6.00pt;
	font-size: 14pt;
	color: #094074;
	font-family: Cambria;
}

ol,
ul,
dl
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

