/*<meta />*/

body
{
	background-color: var(--Lightest);
	font-size: 14pt;
	font-family: Cambria;
}

h1
{
	font-weight: bold;
	background-color: #a60a20;
	font-size: 26pt;
	color: #feaa2f;
	padding-left: 2.0pt;
	padding-right: 0pt;
}

h2
{
	font-weight: bold;
	font-size: 20pt;
	margin-top: 10pt;
	margin-bottom: 6.0pt;
	font-family: Tahoma;
	color: #a60a20;
}

h3
{
	font-weight: bold;
	font-size: 18pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	color: #860012;
}

h4
{
	font-size: 14pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	color: #5d000d;
}

h5
{
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
	font-family: Tahoma;
	color: #5d000d;
	margin-top: 6pt;
	margin-bottom: 6pt;
}

h6
{
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-family: Tahoma;
	color: #5d000d;
}

p
{
	margin-top: 6.00pt;
	margin-bottom: 6.00pt;
	font-size: 14pt;
	color: #094074;
	font-family: Cambria;
}

ol,
ul,
dl
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	text-decoration: none;
	color: #01784e;
	font-style: normal;
	font-size: 16pt;
}

li
{
	margin-bottom: 6pt;
	margin-top: 6pt;
}

p.codesample
{
	font-size: 12pt;
	margin-top: 0;
	margin-bottom: 0;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-family: 'Courier New';
	color: #a9a9a9;
	background-color: #d3d3d3;
}

img.standard
{
	width: 350px;
	border-left-style: solid;
	border-left-width: 4px;
	border-left-color: #a9a9a9;
	border-right-style: solid;
	border-right-width: 4px;
	border-right-color: #a9a9a9;
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #a9a9a9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

img.thumbnail
{
	mc-thumbnail: popup;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #a60a20;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #a60a20;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #a60a20;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #a60a20;
}

a:link
{
	color: #a60a20;
}

a:visited
{
	color: #12b4ca;
	text-decoration: none;
	border: dotted 2px #dd475c;
}

a:hover
{
	text-decoration: none;
}

MadCap|popupHead
{
	color: #01784e;
	font-size: 16pt;
}

MadCap|popupBody
{
	background-color: #6dd2af;
}

